.Header {
    @apply w-full flex flex-row items-center justify-between z-20;
    .Header-logo {
        @apply w-20 h-20;
    }
    .MenuDesktop {
        @apply w-5/6  items-center hidden sm:flex flex-wrap justify-between gap-8;
        ul {
            @apply flex items-center gap-12;
            li {
                @apply flex flex-row items-center;
                //styleName: Body/Bold;
                font-family: Montserrat Alternates;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                &:nth-last-child(1) {
                    @apply gap-4;
                }

                div {
                    @apply rounded-full w-5 h-5 flex items-center justify-center;
                    border: 1.5px solid #00000066;
                }
            }
        }
        .MenuDesktop-btn-container {
            @apply flex flex-row flex-wrap items-start gap-4;
            button {
                @apply w-fit;
                font-family: Montserrat Alternates;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: center;
                &:nth-child(1) {
                    @apply px-6 py-3 rounded-lg;
                    border: 2px solid #000000;
                }
                &:nth-child(2) {
                    @apply px-6 py-3 rounded-lg bg-black text-white;
                    box-shadow: 3px 3px 0px 0px #00000040;
                }
            }
        }
    }
}
